.time {
}

.currentTime {
  width: 60px;
  flex-grow: 0;
  text-align: end;
}

.range {
  position: relative;
  height: 2px;
  background: var(--bg-elevated-highlight);
  flex-grow: 1;
  margin: 0 12px;
}

.inputRange {
  position: absolute;
  top: -7px;
  left: 0;
  cursor: pointer;
  width: 100%;
  z-index: var(--z-index-input-range);
  opacity: 0;
}

.range2, .buffer {
  position: absolute;
  top: 0;
  height: 100%;
  transition: 0.2s linear;
}

.range2 {
  width: var(--progress-bar);
  background: var(--tracker-color);
  box-shadow: 0 0 5px 1px rgba(135,223,228,1);
  z-index: 3
}

.buffer {
  width: var(--buffer-bar);
  background: var(--buffer-color);
  z-index: 2;
}

.dot {
  position: absolute;
  left: var(--progress-bar);;
  top: -4.5px;
  width: 10px;
  height: 10px;
  background: var(--tracker-color);
  box-shadow: 0 0 8px 2px rgba(135,223,228,1);
  border-radius: 50%;
  transition: 0.2s linear;
}

.totalTime {
  width: 60px;
  flex-grow: 0;
}
