.time {
}

.currentTime {
  flex-grow: 0;
  font-feature-settings: 'tnum';
}

.range {
  position: relative;
  height: 2px;
  background: var(--bg-elevated-highlight);
  flex-grow: 1;
  margin: 0 12px;
}

.inputRange {
  position: absolute;
  top: -7px;
  left: 0;
  cursor: pointer;
  width: 100%;
  z-index: var(--z-index-input-range);
  opacity: 0;
}

.progressBar,
.bufferBar {
  position: absolute;
  top: 0;
  height: 100%;
  transition: 0.2s linear;
}

.progressBar {
  width: var(--progress-bar);
  background: var(--tracker-color);
  box-shadow: 0 0 5px 1px rgb(135 223 228 / 100%);
  z-index: 3;
}

.bufferBar {
  width: var(--buffer-bar);
  background: var(--buffer-color);
  z-index: 2;
}

.progressDot {
  position: absolute;
  left: var(--progress-bar);
  top: -4.5px;
  width: 10px;
  height: 10px;
  background: var(--tracker-color);
  box-shadow: 0 0 8px 2px rgb(135 223 228 / 100%);
  border-radius: 50%;
  transition: 0.2s linear;
}

.totalTime {
  font-feature-settings: 'tnum';
  flex-grow: 0;
}
