.player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px 8px;
  display: grid;
  gap: 8px;
  grid-template-columns: 100px minmax(min-content, 600px) 1fr 50px;
  grid-template-areas:
    'image info buttons close'
    'image info time .';
  z-index: var(--z-index-blocks);
  backdrop-filter: blur(40px) brightness(0.4);
  transform: translateY(100%);
  transition: 0.5s;

  &.active {
    transform: translateY(0);
  }
}

.imageWrapper {
  grid-area: image;

  @include imageWrapper;
}

.songInfo {
  grid-area: info;
  text-wrap: wrap;
  width: 100%;
}

.buttons {
  grid-area: buttons;
  align-self: center;
}

.time {
  grid-area: time;
}

.close {
  grid-area: close;
  justify-self: end;
  cursor: pointer;
}
